<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.4.2/pure-min.css">
</head>
<body>
<p1>adsad</p1>
<script type="text/template" id="my_first_tamplate">
    <div>
        <strong><%= title %></strong>  : <%= url %>
        <input type="button" id="edit" value='редагування'>
    </div>
</script>

<script  src="js/jquery-1.11.0.js"></script>
<script  src="js/underscore.js"></script>
<script  src="js/backbone.js"></script>
<script  src="js/backbone-validation.js"></script>
<script  src="js/test.js"></script>



</body>
</html>